
.shopping-container {
    text-align: center;
    padding: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-item {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
}

.payment-button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.payment-button:hover {
    background-color: #388e3c;
}
