<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>싹틔움</title>
</head>
<body>
    <div style="width: 20%; margin:10% auto 0% auto">
        <div style="margin: 0% auto 0% 5%">
            <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FVbXC4%2FbtsKePF4r6K%2FHdV3AU33uDf8khBSMLMLU0%2Fimg.png">
        </div>
        <div style="margin: 0% auto 10% 16%; color: darkgreen; font-size: 500%">
            싹틔움
        </div>
        <div style="margin: 10% auto 0% auto; cursor:pointer" onclick="window.location.href='https://kauth.kakao.com/oauth/authorize?client_id=42c4a40ba77620d04f9567f105705c44&redirect_uri=http://localhost:8080/ssaktium/signin-kakao&response_type=code'">
            <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdqyqnM%2FbtsKjonVSLw%2FUmoCSKvPnmw6930opWJBP1%2Fimg.png">
        </div>
    </div>
</body>
</html>