<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>싹틔움</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
</head>
<body>
<div th:replace="~{navbar}"></div>
<div class="main-container">
    <h2>싹틔움에 오신 것을 환영합니다,</h2>
    <div class="content">
        <p>준비 중 입니다.</p>
    </div>
</div>
</body>
</html>
