<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문하기 - 싹틔움</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/shopping.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<!-- 메뉴바 포함 -->
<div th:replace="~{navbar}"></div>

<div class="order-container">
    <h2>주문하기</h2>

    <div th:if="${totalPrice != null}">
        <p>총 결제 가격: <span id="total-price" class="total-price" th:text="${totalPrice}"></span> 원</p>


        <!-- 주문자 정보 입력 폼 -->
        <h3>배송지 입력</h3>
        <form id="order-form">
<!--            <input type="hidden" id="product-id" th:value="${product.id}">-->
            <label for="order-address">주소:</label>
            <input type="text" id="order-address" name="address" placeholder="주소를 입력하세요" required>

            <button type="button" onclick="submitOrder()">결제하기</button>
        </form>
    </div>
</div>

<script>
    async function submitOrder() {
        const address = document.getElementById("order-address").value;
        const totalPrice = parseFloat(document.querySelector("#total-price").textContent) || 0;

        console.log(totalPrice)
        const orderRequest = {
            address: address,
            totalPrice: totalPrice
        };

        const response = await fetch(`/v2/orders`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(orderRequest)
        });
        document.open();
        document.write(await response.text());
        document.close();
    }
</script>

</body>
</html>
